.env
.env.production
mobile/.env
*.pyc
__pycache__/
db.sqlite3
staticfiles/
media/
.venv/
venv/
.idea/
.vscode/
node_modules/
mobile/node_modules/
mobile/.expo/
mobile/.expo-bundle-test/
mobile/dist-test/
mobile/dist-test2/
mobile/android/app/build/
mobile/android/.gradle/
*.apk
